<a href="https://colab.research.google.com/github/HajjoujiProf/AlgoPandaCourse/blob/main/AlgoPandaCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.__version__

'1.1.5'

In [ ]:
import pandas as pd
num = pd.Series([8,53,9,42,15])

In [ ]:
num

0     8
1    53
2     9
3    42
4    15
dtype: int64

In [ ]:
import pandas as pd
name = pd.Series(['United States','Saudi Arabia','Russia','China','Canada'],['1','2','3','4','5'])

In [ ]:
name

1    United States
2     Saudi Arabia
3           Russia
4            China
5           Canada
dtype: object

In [ ]:
name.loc['3']

'Russia'

In [ ]:
import pandas as pd
df = pd.DataFrame({'Country':['китай','Марокко','США','Россия'],'Code':['86','212','1','7'],'Population':['1,330,044,000','31,627,428','310,232,863','140,702,000']})

In [ ]:
df

   Country Code     Population
0    китай   86  1,330,044,000
1  Марокко  212     31,627,428
2      США    1    310,232,863
3   Россия    7    140,702,000

In [ ]:
import pandas as pd
df = pd.DataFrame({'Country':['китай','Марокко','США','Россия'],'Code':['86','212','1','7'],'Population':['1,330,044,000','31,627,428','310,232,863','140,702,000']},index=['1','2','3','4'])

In [ ]:
df.Population

0    1,330,044,000
1       31,627,428
2      310,232,863
3      140,702,000
Name: Population, dtype: object

In [ ]:
df.loc['4']

Country            Россия
Code                    7
Population    140,702,000
Name: 4, dtype: object